<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <div class="description">
          <!-- <h3>{{item.name}}</h3>
          <h5>{{item.price}}</h5> -->
        </div>
      </div>
      <form action='{% url 'stripe-session-order' order.id %}' method="GET">
        {% csrf_token %}
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>